
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
}

.btn {
  display: inline;
  margin-top: 0.8rem;
  margin-right: 2rem;
  background: var(--orange);
  color: #fff;
  padding: 0.5rem 2rem;
  border: 0.2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
}
.col {
  padding: 0;
}
h1 {
  margin-bottom: 0;
}
/* end body */

/* format book */
.heading {
  text-align: center;
  padding: 5rem 0 5rem;
  background-color: rgba(248, 229, 178, 0.3);
}
.heading span {
  font-size: 3rem;
  padding: 0.5rem 1.5rem;
  color: var(--orange);
  border-radius: 0.5rem;
  background-color: rgba(255, 165, 0, 0.2);
  margin-right: 0.5rem;
}
.heading span.space {
  background-color: transparent;
}

/* ============ */
/* contact */
.contact .heading {
  background-color: rgba(248, 229, 178, 0.3);
}

#contact .row .image {
  background-color: black;
}
#contact .row .image img {
  width: 100%;
}
.contact .row form {
  padding: 2.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);

  background-color: #dbd4d4;
}
.contact .inputBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.contact .inputBox input,
textarea {
      box-sizing: border-box;
    text-transform: initial;
  display: block;
  background-color: rgb(247, 238, 238);
  flex: 1 1 20rem;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 0.2rem solid skyblue;
}
.contact .row .inputBox input:focus,
textarea:focus {
  border: 0.2rem solid var(--orange);
}

.title {
  text-align: center;
}
